<launch>
    <!-- initial pose -->
    <arg name="x1" default="-5.0"/>
    <arg name="y1" default="0.0"/>
    <arg name="z1" default="0.25"/>
    <arg name="Y1" default="0.0"/>

    <arg name="x2" default="0.0"/>
    <arg name="y2" default="0.0"/>
    <arg name="z2" default="0.25"/>
    <arg name="Y2" default="0.0"/>

    <arg name="robot_namespace1" default="/robot1"/>
    <arg name="robot_namespace2" default="/robot2"/>

    <!--注意修改odom相关配置 3处-->
    <group ns="$(arg robot_namespace2)">
        <include file="$(find hunter2_control)/launch/hunter2_v_contol.launch" >
            <arg name="robot_namespace" value="$(arg robot_namespace2)" />
        </include>

        <param name="robot_description" command="$(find xacro)/xacro '$(find hunter2_base)/urdf/hunter2_base_gazebo.xacro'" />

        <node name="hunter_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" args="
                -urdf 
                -param robot_description
                -model 'hunter_$(arg robot_namespace2)' 
                -x $(arg x2)
                -y $(arg y2)
                -z $(arg z2)
                -R 0.0 
                -P 0.0 
                -Y $(arg Y2)"/>
    </group>

    <group ns="$(arg robot_namespace1)">
        <include file="$(find scout_description)/launch/scout_v2_stock.launch">
            <arg name="robot_namespace" value="$(arg robot_namespace1)" />
        </include>

        <node name="spawn_scout_model" pkg="gazebo_ros" type="spawn_model" args="
                -x $(arg x1)
                -y $(arg y1)
                -z $(arg z1)
                -Y $(arg Y1)
                -unpause
                -urdf
                -param robot_description
                -model 'scout_$(arg robot_namespace1)'" />
        <rosparam file="$(find scout_gazebo_sim)/config/scout_v2_control.yaml" command="load"/>

        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="scout_state_controller 
                scout_motor_fr_controller 
                scout_motor_fl_controller 
                scout_motor_rl_controller 
                scout_motor_rr_controller"/>   

        <node name= "robot_state_publisher2" pkg= "robot_state_publisher" type= "robot_state_publisher">
            <param name="publish_frequency" type="double" value="20.0" />
            <param name="tf_prefix" value="$(arg robot_namespace1)" />
        </node>

        <node name="scout_skid_steer_controller" pkg="scout_gazebo_sim" type="scout_skid_steer_controller">
            <param name="robot_namespace" type="string" value="$(arg robot_namespace1)" />
        </node>

        <!--publish odometry: odom2->robot2/base_link-->
        <!-- <node name="robot2_pub_odom" pkg="scout_gazebo_sim" type="scout_pub2_odom.py" output="screen" />  -->
        <!--publish odometry: odom1->robot1/base_link-->
        <node name="robot1_pub_odom" pkg="scout_gazebo_sim" type="scout_pub1_odom.py" output="screen" /> 

    </group>

    <node name="odomToworld1" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 world odom1 0.010" /> 
    <node name="odomToworld2" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 world odom2 0.010" /> 
</launch>

